<template>
  <span>
    <header class="menu-section-area after-login-menu" v-if="isLoggedIn">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg d-none d-sm-none d-md-block d-lg-block d-xl-block" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="assets/img/logo.png" alt="logo" class="img-fluid"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-capitalize align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">রাইড শেয়ারিং</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">গাড়ি ভাড়া</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">গাড়ি লিজ</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav text-capitalize ml-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">সেবা</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="far fa-comment-dots"></i><span class="points-overview-number">10</span></a>
                        </li>
                        <li class="nav-item dropdown-box">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"><img :src="userInfo.profile_image || `http://placehold.it/200x182`" alt="Owner"><i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                  <nuxt-link to="/profile">{{ userInfo.f_name +' ' + userInfo.l_name }} <span class="d-block">প্রোফাইল দেখুন</span></nuxt-link>
                                </li>
                                <div role="separator" class="dropdown-divider"></div>

                                <li><span class="menu-inner-title">অ্যান্ডগাড়িভাড়া পয়েন্ট</span></li>
                                <li><a href="/">পয়েন্ট ওভারভিউ <span class="points-overview-number">10</span></a></li>
                                <li><a href="/">বন্ধুদের আমন্ত্রণ জানান</a></li>
                                <div role="separator" class="dropdown-divider"></div>

                                <li><span class="menu-inner-title">গাড়ি ভাড়া</span></li>
                                <li><a href="/">ভাড়া</a></li>
                                <li><a href="/">আপনার গাড়ি</a></li>
                                <li><a href="/">তাৎক্ষণিক বুকিং</a></li>
                                <li><a href="/">হ্যান্ডওভার সময়</a></li>
                                <li><a href="/">প্রিয় গাড়ি</a></li>
                                <div role="separator" class="dropdown-divider"></div>

                                <li><span class="menu-inner-title">রাইড শেয়ারিং</span></li>
                                <li><a href="/">রাইডসমূহ</a></li>
                                <li><a href="/">রাইড এলার্টসমূহ</a></li>
                                <div role="separator" class="dropdown-divider"></div>

                                <li><span class="menu-inner-title">প্রোফাইল</span></li>
                                <li><nuxt-link to="/profile">এডিট প্রোফাইল</nuxt-link></li>
                                <li><a href="/">সেটিংসমূহ</a></li>
                                <li><a href="/">যাচাইকরণ</a></li>
                                <li><a href="/">ব্যাল্যান্স</a></li>
                                <li><a href="/">উপার্জন</a></li>
                                <li><a href="/">সংরক্ষণাগার বার্তা</a></li>
                                <div role="separator" class="dropdown-divider"></div>

                                <li><a @click.prevent="logout">লগ আউট</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
      <!-- Navigation -->

      <!-- Mobile Menu Start -->
        <nav class="mobile_menu hidden d-none">
            <a href="/"><img class="mobile-logo" src="assets/img/logo.png" alt="logo"></a>
            <ul class="nav navbar-nav navbar-right menu">
                <li class="dropdown">
                    <a>রাইড শেয়ারিং</a>
                    <ul class="sub_menu">
                        <li><a class="nav-link" href="/">যাত্রা খুঁজুন </a></li>
                        <li><a class="nav-link" href="/">কিভাবে কাজ করে</a></li>
                        <li><a class="nav-link" href="/">অফার রাইড</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>গাড়ি ভাড়া</a>
                    <ul class="sub_menu">
                        <li><a class="nav-link" href="/">গাড়ি খুঁজুন</a></li>
                        <li><a class="nav-link" href="/">কিভাবে কাজ করে</a></li>
                        <li><a class="nav-link" href="/">ব্যবসার জন্য</a></li>
                        <li><a class="nav-link" href="/">গাড়ি তালিকাভুক্ত করুন</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a>গাড়ি লিজ</a>
                    <ul class="sub_menu">
                        <li><a class="nav-link" href="/">ব্যক্তিগত লিজিং</a></li>
                        <li><a class="nav-link" href="/">ব্যবসার জন্য লিজিং</a></li>
                        <li><a class="nav-link" href="/">কিভাবে কাজ করে</a></li>
                    </ul>
                </li>
                <div role="separator" class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="/">সেবা</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">মেসেজসমূহ<span class="points-overview-number">10</span></a>
                </li>
                <li class="dropdown">
                    <nuxt-link to="/profile" title="আপনার প্রোফাইল">প্রোফাইল দেখুন</nuxt-link>
                    <ul class="sub_menu">
                        <li><span class="menu-inner-title">অ্যান্ডগাড়িভাড়া পয়েন্ট</span></li>
                        <li><a href="/">পয়েন্ট ওভারভিউ <span class="points-overview-number">10</span></a></li>
                        <li><a href="/">বন্ধুদের আমন্ত্রণ জানান</a></li>

                        <li><span class="menu-inner-title">গাড়ি ভাড়া</span></li>
                        <li><a href="/">ভাড়া</a></li>
                        <li><a href="/">আপনার গাড়ি</a></li>
                        <li><a href="/">তাৎক্ষণিক বুকিং</a></li>
                        <li><a href="/">হ্যান্ডওভার সময়</a></li>
                        <li><a href="/">প্রিয় গাড়ি</a></li>

                        <li><span class="menu-inner-title">রাইড শেয়ারিং</span></li>
                        <li><a href="/">রাইডসমূহ</a></li>
                        <li><a href="/">রাইড এলার্টসমূহ</a></li>

                        <li><span class="menu-inner-title">প্রোফাইল</span></li>
                        <li>
                          <nuxt-link to="/profile">এডিট প্রোফাইল</nuxt-link>
                        </li>
                        <li><a href="/">সেটিংসমূহ</a></li>
                        <li><a href="/">যাচাইকরণ</a></li>
                        <li><a href="/">ব্যাল্যান্স</a></li>
                        <li><a href="/">উপার্জন</a></li>
                        <li><a href="/">সংরক্ষণাগার বার্তা</a></li>
                        <li>
                          <a @click.prevent="logout">লগ আউট</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
      <!-- Mobile Menu End -->

    </header>
    <!--    All User -->
    <header class="menu-section-area" v-else>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg d-none d-sm-none d-md-block d-lg-block d-xl-block" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="assets/img/logo.png" alt="logo"
                                                       class="img-fluid"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-capitalize align-items-center">
<!--            <li class="nav-item">-->
            <!--              <a class="nav-link" href="/">রাইড শেয়ারিং</a>-->
            <!--            </li>-->
            <li class="nav-item" v-for="(nenuItem, index) in menuItems" :key="index">
              <nuxt-link :to="nenuItem.url" class="nav-link">{{ nenuItem.name }}</nuxt-link>
            </li>
          </ul>

          <ul class="navbar-nav text-capitalize ml-auto align-items-center">
            <li class="nav-item dropdown-box">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i
                class="fas fa-globe"></i>বাংলা<i class="fas fa-angle-down"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#" title="বাংলা">বাংলা</a></li>
                <li><a href="#" title="English">English</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!-- Navigation -->

      <!-- Mobile Menu Start -->
    <nav class="mobile_menu hidden d-none">
      <a href="/"><img class="mobile-logo" src="assets/img/logo.png" alt="logo"></a>
      <ul class="nav navbar-nav navbar-right menu">
        <li class="nav-item" v-for="(nenuItem, index) in menuItems" :key="index">
          <nuxt-link :to="nenuItem.url" class="nav-link">{{ nenuItem.name }}</nuxt-link>
        </li>

        <li class="dropdown">
          <a title="বাংলা"><i class="fas fa-globe"></i> বাংলা</a>
          <ul class="sub_menu">
            <li><a href="#" title="বাংলা">বাংলা</a></li>
            <li><a href="#" title="English">English</a></li>
          </ul>
        </li>
      </ul>
    </nav>
      <!-- Mobile Menu End -->

  </header>

  </span>
</template>

<script>
export default {
  name: "MenuBar",
  computed: {
    menuItems() {
      return this.$store.state.menubar.menu_items;
    },
    isLoggedIn() {
      return this.$store.state.menubar.userLoggedIn;
    },
    userInfo(){
      return this.$store.state.menubar.userInfo;
    }
  },
  methods:{
    logout(){
      let self = this;
      let defaultUserInfo = {
        about: '',
        cover_image: '',
        education: '',
        email: '',
        f_name: "",
        l_name: "",
        occupation: '',
        phn_no: "",
        phn_no_verified_at: "",
        profile_image: "",
      };
      const token = this.$cookies.get('accessToken');
      let config = {
        headers: { 'Authorization': `Bearer ${token}` }
      };
      this.$axios.$get(process.env.USER_API_URL+'/logout',config)
        .then((res) => {
          if (res.error === false) {
            self.$cookies.remove('accessToken')
            self.$store.commit('menubar/updateUserInfo', defaultUserInfo);
            self.$store.commit('menubar/updateLoggedInStatus', false);
            self.$router.push('/');
          }
        });
    }
  }
}
</script>

<style scoped>

</style>
