<template>
  <div class="main">

    <!-- Pre Loader Area start -->
    <!--<div id="preloader">-->
    <!--    <div id="status"></div>-->
    <!--</div>-->
    <div id="overlayer" v-if="preloader">
         <span class="loader">
           <span class="loader-inner"></span>
         </span>
    </div>
    <!-- Pre Loader Area End -->

    <menu-bar/>

    <Nuxt />

    <!-- Footer Start -->
    <footer class="andgarivara-footer-area">

      <!-- Footer Upper Area Start-->
      <div class="footer-upper-area">
        <div class="container">
          <div class="row footer-upper-wrap">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="footer-upper-left-part position-relative">
                <img src="assets/img/footer-upper-left-img.png" alt="Ride Sharing">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="footer-upper-download-app-area">
                <h2>অ্যাপ ডাউনলোড করুন</h2>
                <p>অ্যান্ড গাড়ি ভাড়াকে আপনার হাতের মুঠোয় রাখুন।</p>
                <div class="download-button d-flex">
                  <a href="#" title="Andgarivara App"><img
                    src="assets/img/buttons-img/apple-app-btn.png"
                    alt="Download Andgarivara app"></a>
                  <a href="#" title="Andgarivara App"><img
                    src="assets/img/buttons-img/google-app-btn.png"
                    alt="Download Andgarivara app"></a>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <!--  Footer Upper Area End-->

      <!-- Footer Middle Area Start-->
      <div class="footer-middle-area">
        <div class="container">
          <div class="row">

            <!-- Column Start-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
              <div class="footer-widget">
                <p>ব্যবসা</p>
                <ul>
                  <li><a href="support.html">সেবা</a></li>
                  <li><a href="about.html">আমাদের সম্পর্কে</a></li>
                  <li><a href="press.html">প্রেস</a></li>
                  <li><a href="newsletter.html">নিউজলেটার</a></li>
                  <li><a href="career.html">চাকুরি</a></li>
                </ul>
              </div>
            </div>
            <!-- Column End-->

            <!-- Column Start-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
              <div class="footer-widget">
                <p>রাইড শেয়ারিং</p>
                <ul>
                  <li><a href="how-it-works.html">কিভাবে কাজ করে</a></li>
                  <li><a href="offer-ride.html">যাত্রা প্রস্তাব</a></li>
                  <li><a href="rides-list.html">একটি যাত্রা খুঁজুন</a></li>
                  <li><a href="rules.html">নিয়মাবলী</a></li>
                  <li><a href="popular-rides.html">বেশি ব্যবহারিত রুটগুলি</a></li>
                </ul>
              </div>
            </div>
            <!-- Column End-->

            <!-- Column Start-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
              <div class="footer-widget">
                <p>গাড়ি ভাড়া</p>
                <ul>
                  <li><a href="how-it-works.html">কিভাবে কাজ করে</a></li>
                  <li><a href="list-your-car.html">গাড়ি তালিকাভুক্ত করুন</a></li>
                  <li><a href="car-rental.html">ভাড়াকৃত গাড়িগুলি</a></li>
                  <li><a href="insurance.html">বীমা</a></li>
                  <li><a href="rental-for-business.html">ব্যাবসার জন্য</a></li>
                  <li><a href="rules.html">নিরাপত্তা</a></li>
                </ul>
              </div>
            </div>
            <!-- Column End-->

            <!-- Column Start-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-2">
              <div class="footer-widget">
                <p>গাড়ি লিজ</p>
                <ul>
                  <li><a href="how-it-works.html">কিভাবে কাজ করে</a></li>
                  <li><a href="leasing.html">প্রস্তাব</a></li>
                </ul>
              </div>
            </div>
            <!-- Column End-->

            <!-- Column Start-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-4">
              <div class="footer-widget">
                <p>ব্লগ</p>
                <ul>
                  <li><a href="blog-details.html">বেশি রাইড মানেই বেশি আয়!</a></li>
                  <li><a href="blog-details.html">গাড়ি হস্তান্তর গাইড</a></li>
                  <li><a href="blog-details.html">যেকোন সমস্যার দ্রুত সমাধান অ্যাপে এবং লাইভ
                    চ্যাটে!</a></li>
                </ul>
              </div>
            </div>
            <!-- Column End-->

          </div>
          <hr>
        </div>
      </div>
      <!--  Footer Middle Area End-->

      <!-- Footer Bottom Area Start-->
      <div class="footer-bottom-area">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-bottom-part">
                <div class="bottom-footer-left d-flex">
                  <div class="copyright-text">&copy; 2020 andgarivara</div>
                  <ul class="d-flex">
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
                <div class="bottom-footer-right">
                  <ul class="social-media d-flex">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  Footer Bottom Area End-->

    </footer>
    <!-- Footer End -->

  </div>
</template>

<script>
  import MenuBar from "../components/MenuBar";
  export default {
    name: "Default",
    data(){
      return{
        preloader:false,
      }
    },
    components: {MenuBar},
    methods:{
      checkUserAuth: function() {
        let self = this;
        this.preloader=true;
        const token = this.$cookies.get('accessToken')
        if (token !== undefined) {
          let config = {
            headers: {'Authorization': `Bearer ${token}`}
          };
          this.$axios.$get(process.env.USER_API_URL+'/get-user-info', config).then((res) => {
            if (res.error === false) {
              self.$store.commit('menubar/updateUserInfo', res.data.userInfo);
              self.$store.commit('menubar/updateLoggedInStatus', true);
              self.preloader=false;
            }
            else {
              self.preloader=false;
            }
          }).catch((error) => {
            self.preloader=false;
            console.log(error)
          });
        }
        else {
          this.preloader=false;
        }
      },
    },
    async mounted() {
      await this.checkUserAuth();
    }
  }
</script>

<style>
  #overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 11111111;
    background: #1E87FF;
    top: 0;
  }
  .loader {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 31111111;
    border: 4px solid #Fff;
    top: 55%;
    left: 55%;
    animation: loader 2s infinite ease;
    transform: translate(-50%, -50%);
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg); }
    25% {
      transform: rotate(180deg); }
    50% {
      transform: rotate(180deg); }
    75% {
      transform: rotate(360deg); }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loader-inner {
    0% {
      height: 0%; }
    25% {
      height: 0%; }
    50% {
      height: 100%; }
    75% {
      height: 100%; }
    100% {
      height: 0%; }
  }
</style>
