<template>
  <span>
    <!-- Hero Area Start -->
    <section class="andgarivara-hero-area">
      <div class="container">
        <div class="row hero-area-wrapper align-items-center">

          <div class="col-lg-12">
            <div class="hero-area-heading">
              <h1>আপনি কি নিরাপদ ও আরামদায়ক <br> ভ্রমন করতে চান?</h1>
              <h4 class="padding-top-20">সহজ করতে যাত্রা চলে এলো অ্যান্ড গাড়িভাড়া</h4>
            </div>
          </div>
          <!-- Hero Content Side Start-->
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">

            <div class="andgarivara-left-content">
              <a class="andgarivara-hero-service-box" href="rides.html" title="Car Rental ">
                <div class="left-service-content">
                  <h4>গাড়ি ভাড়া</h4>
                  <h6>যাত্রীদের সাথে ভ্রমন ভাগ</h6>
                </div>
                <i class="flaticon-right-arrow"></i>
              </a>
              <div class="andgarivara-hero-service-box disabled " title="Instant Ride">
                <div class="left-service-content">
                  <h4>তাত্ক্ষণিক যাত্রা</h4>
                  <h6>নিকটবর্তী চলমান গাড়ি থেকে গাড়িভাড়া</h6>
                </div>
                <i class="flaticon-right-arrow"></i>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="andgarivara-left-content">
              <a class="andgarivara-hero-service-box" href="car-rental.html" title="Car Leasing">
                <div class="left-service-content">
                  <h4>গাড়ি লিজ</h4>
                  <h6>নিকটবর্তী চলমান গাড়ি থেকে গাড়িভাড়া</h6>
                </div>
                <i class="flaticon-right-arrow"></i>
              </a>

              <div class="andgarivara-hero-service-box disabled" href="leasing.html" title="Ride Sharing">
                <div class="left-service-content">
                  <h4>রাইড শেয়ার</h4>
                  <h6>আপনার চাহিদামত নিজের গাড়ি লিজ দিন এবং নিন</h6>
                </div>
                <i class="flaticon-right-arrow"></i>
              </div>
            </div>

          </div>
          <!-- Hero Content Side End-->

          <!-- Hero Image Side Start-->
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="andgarivara-hero-img text-center">
              <img src="assets/img/andgarivara-hero-img.gif" alt="Ride Sharing">
            </div>
          </div>
          <!-- Hero Image Side End-->
        </div>
      </div>
    </section>
    <!-- Hero Area End -->

    <!-- Andgarivara Call To Action Area Start -->
    <section class="andgarivara-call-to-action-area padding-zero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="call-to-action-content">
              <h4>আপনি কি ইতিমধ্যে একটি গাড়ির গর্বিত মালিক হয়েছেন? আপনার গাড়ির অব্যবহারিত সময়ে ভাড়া দিয়ে
                লাভবান হউন।</h4>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="col-to-action-button">
              <a href="rental-owner.html" class="theme-button">আপনার গাড়ি ভাড়া দিন</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Andgarivara Call To Action Area End -->

    <!-- Andgarivara Services Showcase Area Start -->
    <section class="andgarivara-services-showcase-area">
      <div class="container">

        <!-- Service Showcase Wrap/Rides A Car Area Start -->
        <div class="service-showcase-wrap home-popular-rides">
          <div class="row">
            <div class="col-12 service-showcase-title mb-30">
              <p><a href="rides.html" title="Ride Sharing">রাইড শেয়ারিং</a></p>
              <div class="home-services-subtitle d-flex justify-content-between align-content-center">
                <h4>বেশি ব্যবহারিত রুটগুলি</h4>
                <a href="rides.html" class="d-flex align-items-center">সব রাইড দেখুন<i
                  class="flaticon-right-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="row home-services-wrap-inner">
            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4" v-for="(singleRoute, index) in listOfRoutes" :key="index">
              <a class="home-service-box d-flex justify-content-between align-items-center"
                 href="location-based-rides.html">
                <div class="h-s-left">
                  <h4>{{ singleRoute.from }}</h4>
                  <h5>{{ singleRoute.to }}</h5>
                </div>
                <div class="h-s-right">
                  <p>থেকে</p>
                  <h4>টাকা - {{ singleRoute.fare }}</h4>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->
          </div>
        </div>
        <!-- Service Showcase Wrap/Rides A Car Area End -->

        <!-- Service Showcase Wrap/Rental Cars Area Start -->
        <div class="service-showcase-wrap home-popular-rental-cars">
          <div class="row">
            <div class="col-12 service-showcase-title mb-30">
              <p><a href="car-rental.html" title="Ride Sharing">গাড়ি ভাড়া</a></p>
              <div class="home-services-subtitle d-flex justify-content-between align-content-center">
                <h4>বেশি ব্যবহারিত ভাড়া গাড়ি</h4>
                <a href="car-rental.html" class="d-flex align-items-center">সব রাইড দেখুন<i
                  class="flaticon-right-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="row home-services-wrap-inner">
            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-3" v-for="(leaseCar, index) in leaseCars" :key="index">
              <a class="home-service-box" href="/">
                <div class="h-s-img position-relative">
                  <div class="rental-car-img-tag position-absolute">
                    <h5>{{ leaseCar.income_per_day }}</h5>
                    <p>টাকা/দিনে</p>
                  </div>
                  <img :src="leaseCar.car_image" alt="Rental Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">{{ leaseCar.car_name }}</h4>
                    <div class="rental-car-ratings">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                    </div>
                    <p>{{ leaseCar.height_income}} {{ leaseCar.height_income_destination}}</p>
                  </div>
                  <div class="rental-car-owner-photo"><img
                    :src="leaseCar.owner_image"
                    alt="Rental Car Owner"></div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->
          </div>
        </div>
        <!-- Service Showcase Wrap/Rental Cars Area End -->

        <!-- Service Showcase Wrap/Leasing Cars Area Start -->
        <div class="service-showcase-wrap home-popular-leasing-cars">
          <div class="row">
            <div class="col-12 service-showcase-title mb-30">
              <p><a href="leasing.html" title="Ride Sharing">গাড়ি লিজ</a></p>
              <div class="home-services-subtitle d-flex justify-content-between align-content-center">
                <h4>বেশি ব্যবহারিত লিজ গাড়ি</h4>
                <a href="leasing.html" class="d-flex align-items-center">সব রাইড দেখুন<i
                  class="flaticon-right-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="row home-services-wrap-inner">
            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="leasing-car.html">
                <div class="h-s-img position-relative">
                  <div class="rental-car-img-tag position-absolute">
                    <p>Kia Niro</p>
                  </div>
                  <img src="assets/img/leasing-cars-img/1.png" alt="Leasing Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">Peugeot 208 Benzin 100HK</h4>
                    <h4 class="popular-rental-car-title leasing-car-monthly-payment-title">৩,২০০
                      টাকা/মাস</h4>
                    <p>১২-৩৬ মাস · ২৫,০০০ কি.মি./বছর </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->

            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="leasing-car.html">
                <div class="h-s-img position-relative">
                  <div class="rental-car-img-tag position-absolute">
                    <p>Kia Niro</p>
                  </div>
                  <img src="assets/img/leasing-cars-img/2.png" alt="Leasing Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">Peugeot 208 Benzin 100HK</h4>
                    <h4 class="popular-rental-car-title leasing-car-monthly-payment-title">৩,২০০
                      টাকা/মাস</h4>
                    <p>১২-৩৬ মাস · ২৫,০০০ কি.মি./বছর </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->

            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="leasing-car.html">
                <div class="h-s-img position-relative">
                  <div class="rental-car-img-tag position-absolute">
                    <p>Kia Niro</p>
                  </div>
                  <img src="assets/img/leasing-cars-img/3.png" alt="Leasing Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">Peugeot 208 Benzin 100HK</h4>
                    <h4 class="popular-rental-car-title leasing-car-monthly-payment-title">৩,২০০
                      টাকা/মাস</h4>
                    <p>১২-৩৬ মাস · ২৫,০০০ কি.মি./বছর </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->
          </div>
        </div>
        <!-- Service Showcase Wrap/Leasing Cars Area End -->

        <!-- Service Showcase Wrap/Leasing Cars Area Start -->
        <div class="service-showcase-wrap home-popular-leasing-cars">
          <div class="row">
            <div class="col-12 service-showcase-title mb-30">
              <p><a href="leasing.html" title="Ride Sharing">মালিকরা</a></p>
              <div class="home-services-subtitle d-flex justify-content-between align-content-center">
                <h4>বেশি ব্যবহারিত লিজ গাড়ি</h4>
                <a href="!#" class="d-flex align-items-center">সব রাইড দেখুন<i
                  class="flaticon-right-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="row home-services-wrap-inner">
            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="leasing-car.html">
                <div class="h-s-img position-relative">
                  <div class="rental-car-img-tag position-absolute">
                    <p>Kia Niro</p>
                  </div>
                  <img src="assets/img/leasing-cars-img/4.png" alt="Leasing Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">Peugeot 208 Benzin 100HK</h4>
                    <h4 class="popular-rental-car-title leasing-car-monthly-payment-title">৩,২০০
                      টাকা/মাস</h4>
                    <p>১২-৩৬ মাস · ২৫,০০০ কি.মি./বছর </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->

            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="leasing-car.html">
                <div class="h-s-img position-relative">
                  <div class="rental-car-img-tag position-absolute">
                    <p>Kia Niro</p>
                  </div>
                  <img src="assets/img/leasing-cars-img/1.png" alt="Leasing Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">Peugeot 208 Benzin 100HK</h4>
                    <h4 class="popular-rental-car-title leasing-car-monthly-payment-title">৩,২০০
                      টাকা/মাস</h4>
                    <p>১২-৩৬ মাস · ২৫,০০০ কি.মি./বছর </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->

            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="leasing-car.html">
                <div class="h-s-img position-relative">
                  <div class="rental-car-img-tag position-absolute">
                    <p>Kia Niro</p>
                  </div>
                  <img src="assets/img/leasing-cars-img/3.png" alt="Leasing Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">Peugeot 208 Benzin 100HK</h4>
                    <h4 class="popular-rental-car-title leasing-car-monthly-payment-title">৩,২০০
                      টাকা/মাস</h4>
                    <p>১২-৩৬ মাস · ২৫,০০০ কি.মি./বছর </p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->
          </div>
        </div>
        <!-- Service Showcase Wrap/Leasing Cars Area End -->

        <!-- Service Showcase Wrap/Leasing Cars Area Start -->
        <div class="service-showcase-wrap home-popular-leasing-cars">
          <div class="row">
            <div class="col-12 service-showcase-title mb-30">
              <p><a href="leasing.html" title="Ride Sharing">ড্রাইভার</a></p>
              <div class="home-services-subtitle d-flex justify-content-between align-content-center">
                <h4>বেশি ব্যবহারিত লিজ গাড়ি</h4>
                <a href="#!" class="d-flex align-items-center">সব রাইড দেখুন<i
                  class="flaticon-right-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="row home-services-wrap-inner">
            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4" v-for="(driver,index) in drivers" :key="index">
              <a class="home-service-box" href="leasing-car.html">
                <div class="h-s-img position-relative">
                  <img :src="driver.profile_image" alt="Leasing Car">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">{{ driver.name }}</h4>
                    <div class="rental-car-ratings">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                      <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                    </div>
                    <p class="online-now"><i class="fas fa-circle"></i> Online</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->
          </div>
        </div>
        <!-- Service Showcase Wrap/Leasing Cars Area End -->

        <!-- Service Showcase Wrap/ Blog Area Start -->
        <div class="service-showcase-wrap home-blog-area">
          <div class="row">
            <div class="col-12 service-showcase-title mb-30">
              <p><a href="blog.html" title="Andgarivara Blog">ব্লগ থেকে</a></p>
              <div class="home-services-subtitle d-flex justify-content-between align-content-center">
                <h4>অ্যান্ডগাড়িভাড়াতে কী হচ্ছে</h4>
                <a href="blog.html" class="d-flex align-items-center">ব্লগে যান<i
                  class="flaticon-right-arrow"></i></a>
              </div>
            </div>
          </div>
          <div class="row home-services-wrap-inner">
            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="single-blog.html">
                <div class="h-s-img position-relative">
                  <img src="assets/img/blog-img/blog-1.png" alt="Andgarivara Blog Img">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">বেশি রাইড মানেই বেশি আয়!</h4>
                    <p>গাড়ির ট্রিপ সম্পক্রিত যে কোন জতিলতায় দ্রুত ও সহজ সমাধান পাবেন আপে এবং লাইভ
                      চ্যাটে।</p>
                    <div
                      class="blog-author-box d-flex justify-content-start align-items-center mt-10">
                      <img src="assets/img/blog-img/blog-author.png" alt="Andgarivara blog">
                      <p>সুরাইয়া আয়শা</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->

            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="single-blog.html">
                <div class="h-s-img position-relative">
                  <img src="assets/img/blog-img/blog-2.png" alt="Andgarivara Blog Img">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">গাড়ি হস্তান্তর গাইড</h4>
                    <p>গাড়ি হস্তান্তরের সহজ প্রক্রিয়ার বিবরন।</p>
                    <div
                      class="blog-author-box d-flex justify-content-start align-items-center mt-10">
                      <img src="assets/img/blog-img/blog-author.png" alt="Andgarivara blog">
                      <p>সুরাইয়া আয়শা</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->

            <!-- Home Service box Start -->
            <div class="col-12 col-sm-12 col-md-4">
              <a class="home-service-box" href="single-blog.html">
                <div class="h-s-img position-relative">
                  <img src="assets/img/blog-img/blog-1.png" alt="Andgarivara Blog Img">
                </div>
                <div class="h-s-left d-flex">
                  <div>
                    <h4 class="popular-rental-car-title">করনা ভাইরাস সংক্রান্ত তথ্যাবলি</h4>
                    <p>করনা ভাইরাস প্রতিরধে সবাই আগিএ আসুন।</p>
                    <div
                      class="blog-author-box d-flex justify-content-start align-items-center mt-10">
                      <img src="assets/img/blog-img/blog-author.png" alt="Andgarivara blog">
                      <p>সুরাইয়া আয়শা</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- Home Service box End -->
          </div>
        </div>
        <!-- Service Showcase Wrap/ Blog Area End -->

      </div>
    </section>
    <!-- Andgarivara Services Showcase Area End -->
  </span>
</template>

<script>
  export default {
    head() {
      return {
        title: 'অ্যান্ডগাড়িভাড়া - দেশের ১ নম্বর ডিজিটাল প্ল্যাটফর্ম',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          // {
          //   hid: 'description',
          //   name: 'description',
          //   content: 'My custom description'
          // }
        ]
      }
    },
    data(){
      return{
        listOfRoutes:[],
        leaseCars:[],
        ownerCars:[],
        owners:[],
        drivers:[],
        blogPosts:[]
      }
    },
    methods: {
      updateMenuItems(e) {
        let menuItems=[
          {
            name:'রাইড শেয়ারিং',
            url:''
          },
          {
            name:'তাত্ক্ষণিক যাত্রা',
            url:''
          },
          {
            name:'গাড়ি ভাড়া',
            url:''
          },
          {
            name:'গাড়ি লিজ',
            url:''
          },
          {
            name:'মালিক হিসাবে সাইনআপ',
            url:''
          },
          {
            name:'ড্রাইভার হিসাবে সাইনআপ',
            url:''
          },
          {
            name:'গ্রাহক হিসাবে সাইনআপ',
            url:''
          },
          {
            name:'লগইন',
            url:'/login'
          },
        ]
        this.$store.commit('menubar/updateItems', menuItems)
      },
      getHomepageData(){
        let self = this;
        this.$axios.get(process.env.UI_API_URL+'/list_homepage', {})
          .then((res) => {
            if (res.data.error === false) {
              self.listOfRoutes=res.data.data.listOfRoutes;
              self.leaseCars=res.data.data.leaseCars;
              self.drivers=res.data.data.drivers;
            }
          }).catch((error)=>{
            console.log(error)
        });
      }
    },
    mounted() {
      this.updateMenuItems();
      this.getHomepageData();
    }
  }
</script>

<style>

</style>
