<template>
  <section class="andgarivara-hero-area">
    <div class="container">
      <div class="row hero-area-wrapper align-items-center">

        <div class="col-lg-6 offset-lg-3 mt-3">
          <div class="hero-area-heading">
            <h1 class="text-center">লগইন করুন</h1>
            <h4 class="padding-top-10 text-center">আপনার ইউজারনেম এবং পাসওয়ার্ড ব্যাবহার করুন</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3">
          <form @submit.prevent="makeLoginRequest">
            <div class="form-group">
              <label for="phoneNo">ফোন নম্বর:</label>
              <input type="number" class="form-control" id="phoneNo" placeholder="আপনার ফোন নম্বর" required v-model="phn_no">
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="pwd">পাসওয়ার্ড:</label>
              <input type="password" class="form-control" id="pwd" placeholder="আপনার পাসওয়ার্ড" required v-model="password">
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <button type="submit" class="btn btn-primary">লগইন</button>
            <div class="text-danger" v-if="(errorMessage != ``)">{{ errorMessage }}</div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "login",
  head() {
    return {
      title: 'অ্যান্ডগাড়িভাড়া - দেশের ১ নম্বর ডিজিটাল প্ল্যাটফর্ম | Login',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        // {
        //   hid: 'description',
        //   name: 'description',
        //   content: 'My custom description'
        // }
      ],
      link: [
        { rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' }
      ]
    }
  },
  data(){
    return{
      phn_no: '',
      password: '',
      errorMessage: ''
    }
  },
  methods: {
    makeLoginRequest: function() {
      let self = this;
      let config = {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
        },
      }
      let payload = {
        phn_no: self.phn_no,
        password: self.password
      }

      this.$axios.$post(process.env.USER_API_URL+'/login', payload, config).then((res) => {
        if (res.error === true){
            this.errorMessage=res.msg
        }
        else {
            this.$cookies.set('accessToken', res.data.accessToken, {
              path: '/',
              maxAge: 60 * 60
            })
            this.$store.commit('menubar/updateUserInfo',res.data.userInfo);
            this.$store.commit('menubar/updateLoggedInStatus',true);
            this.$router.push('/');
        }
      }).catch((error)=>{
        console.log(error)
      });
    },
    updateMenuItems(e) {
      let menuItems=[
        {
          name:'রাইড শেয়ারিং',
          url:''
        },
        {
          name:'তাত্ক্ষণিক যাত্রা',
          url:''
        },
        {
          name:'গাড়ি ভাড়া',
          url:''
        },
        {
          name:'গাড়ি লিজ',
          url:''
        },
        {
          name:'মালিক হিসাবে সাইনআপ',
          url:''
        },
        {
          name:'ড্রাইভার হিসাবে সাইনআপ',
          url:''
        },
        {
          name:'গ্রাহক হিসাবে সাইনআপ',
          url:''
        },
        {
          name:'নিবন্ধন',
          url:'/registration'
        },
      ]
      this.$store.commit('menubar/updateItems', menuItems)
    }
  },
  computed: {
    isLoggedIn() {
      return this.$store.state.menubar.userLoggedIn;
    }
  },
  mounted() {
    this.updateMenuItems();
  },
  watch: {
    isLoggedIn: function (val) {
      if (val==true){
        this.$router.push('/');
      }
    }
  }
}
</script>

<style scoped>

</style>
