<template>
  <span>

    <!-- Page Banner Area Start -->
    <section class="page-banner-area padding-zero profile-page-banner" :style="`background-image: url(`+ userInfo.cover_image || `http://placehold.it/1920x500` +`)`">
        <div class="page-banner-overlay d-flex">
            <div class="container">
                <div class="row page-banner-wrap h-100">
                    <div class="col-12">
                        <div class="page-banner-content">
                            <div class="profile-photo-wrap">
                                <div class="profile-photo-owner">
                                    <img :src="userInfo.profile_image || `http://placehold.it/200x182`" alt="andgarivara">
                                </div>
                                <span class="position-absolute"><img src="assets/img/rides-img/award.svg" alt="Andgarivara"></span>

                              <!--Profile Edit Button/ Visible Only For Own Profile Start-->
                                <div class="dropdown profile-edit-button profile-photo-button">
                                    <button class="btn secondary-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        প্রোফাইল ছবি পরিবর্তন করুন
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <form>
                                            <a class="dropdown-item" href="#">আপডেট নতুন
                                                <input type="file" name="profile_image"  @change="updateProfileImage"/>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" @click.prevent="removeProfileImage">অপসারণ</a>
                                        </form>
                                    </div>
                                </div>
                              <!--Profile Edit Button/ Visible Only For Own Profile End-->
                            </div>

                          <!--Profile Edit Button/ Visible Only For Own Profile Start-->
                            <div class="dropdown profile-edit-button cover-photo-button">
                                <button class="btn secondary-button dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    কভার ছবি পরিবর্তন করুন
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <form>
                                        <a class="dropdown-item" href="#">আপডেট নতুন
                                            <input type="file" name="cover_image" @change="updateCoverImage" />
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" @click.prevent="removeCoverImage">অপসারণ</a>
                                    </form>
                                </div>
                            </div>
                          <!--Profile Edit Button/ Visible Only For Own Profile End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Page Banner Area End-->

    <!--Profile Name Ratings Bar Area Start-->
    <div class="profile-name-ratings-bar p-20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-4 d-flex justify-content-between align-items-center">
                    <!--Name Ratings Box Start-->
                    <div class="name-ratings-box">
                        <div class="text-danger font-bold" v-if="errorMessage != ``">* {{ errorMessage }}</div>
                        <h3>{{ userInfo.f_name + ' ' + userInfo.l_name }}</h3>
                        <div class="rental-car-ratings d-none">
                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                          <!--If there is no ratings Show Below content-->
                        </div>
                        <div class="d-block">এখনও কোনও রেটিং নেই</div>
                    </div>
                  <!--Name Ratings Box End-->

                  <!--Edit Profile Box/ Visible Only For Own Profile Start-->
                    <div class="edit-profile-box">
                        <button class="secondary-button">প্রোফাইল এডিট করুন</button>
                    </div>
                  <!--Edit Profile Box/ Visible Only For Own Profile End-->
                </div>
            </div>
        </div>
    </div>
    <!--Profile Name Ratings Bar Area End-->

    <!--Profiles Own Profile Page Area Start-->
    <section class="andgarivara-profiles-own-page-area different-bg">

        <div class="container">
            <div class="row">
                <!-- Profile Page Left Side Start -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="profile-page-left">
                        <div class="profile-status common-box-shadow">
                            <h6>আপনার প্রোফাইলের অবস্থা</h6>
                            <div class="progress profile-progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <ul class="list-group profile-left-list-group common-box-shadow">
                            <li class="list-group-item disabled">নাম এবং ইমেইল <i class="fas fa-check"></i></li>
                            <li class="list-group-item disabled">প্রোফাইল ছবি <i class="fas fa-check"></i></li>
                            <li class="list-group-item">শিক্ষা</li>
                            <li class="list-group-item">পেশা</li>
                            <li class="list-group-item">আপনার সম্পর্কে</li>
                            <li class="list-group-item"><a href="profiles-edit-profile.html" class="theme-button w-100">সম্পূর্ণ প্রোফাইল</a></li>
                        </ul>
                        <ul class="list-group profile-left-list-group common-box-shadow">
                            <li class="list-group-item"><span class="list-left-tex"><img src="assets/img/all-icon/phone-icon.png" alt="phone">যাচাই করা ফোন নম্বর</span> <i class="fas fa-check"></i></li>
                        </ul>
                        <ul class="list-group profile-left-list-group common-box-shadow">
                            <li class="list-group-item"><span>ফোন নম্বর </span>021547852</li>
                            <li class="list-group-item"><span>সদস্যপদ সময় </span>জুন, 2020</li>
                        </ul>

                      <!-- Rides Modal For Report an Issue about Driver btn -->
                        <div class="report-btn btn w-100" data-toggle="modal" data-target="#report-an-issue-modal">
                            <i class="fas fa-flag"></i>Report
                        </div>
                      <!-- Rides Modal For Report an Issue about Driver btn -->
                    </div>
                </div>
              <!-- Profile Page Left Side End -->

              <!-- Profile Page Right Side Start -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="profile-page-right">

                        <!-- Profile Right Box Start -->
                        <div class="card profile-right-box common-box-shadow">
                            <div class="card-body">
                                <h3 class="card-title">স্বাগতম, {{ userInfo.f_name }}</h3>
                                <p class="card-text">প্রায় আছে! আমরা আপনাকে এবং অন্য সদস্যদের মধ্যে বিশ্বাস বাড়াতে আপনার প্রোফাইলটি সম্পূর্ণ করার পরামর্শ দিচ্ছি।</p>
                            </div>
                        </div>
                      <!-- Profile Right Box End -->

                      <!-- Profile Right Box Start -->
                        <div class="card profile-right-box common-box-shadow ratings-profile-box">
                            <h6 class="card-header">কোনও রেটিং নেই</h6>
                            <div class="card-body">
                                <!-- If No Rating Start -->
                                <div class="profile-box-no-rating d-block">
                                    <img src="assets/img/profile-img/no-ratings.png" alt="Andgarivara">
                                    <p class="card-text">আপনার প্রথম ভাড়া বা যাত্রা শুরু করার পরে আপনি এখানে আপনার রেটিংগুলি খুঁজে পাবেন। রেটিংগুলি সম্প্রদায়ে আপনার প্রোফাইলের জন্য বিশ্বাস তৈরি করে।</p>
                                </div>
                              <!-- If No Rating End -->
                              <!-- If With Rating Start -->
                                <ul class="d-none">
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/owner2.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।
                                            <p>ভাল সংস্থা, ভাল সংগীত এবং দুর্দান্ত গাড়ী :)</p>
                                        </div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/avatar.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।</div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/owner2.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।
                                            <p>ভাল সংস্থা, ভাল সংগীত এবং দুর্দান্ত গাড়ী :)</p>
                                        </div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/avatar.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।</div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/owner2.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।</div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/avatar.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।
                                            <p>ভাল সংস্থা, ভাল সংগীত এবং দুর্দান্ত গাড়ী :)</p>
                                        </div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/owner2.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।</div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="rating-profile-other-img"><a href="profiles-other-profile.html"><img src="assets/img/profile-img/owner2.png" alt="সুরাইয়া আয়শা" class="rounded-circle"></a></div>
                                        <div>আব্রাহাম লিংকন ২ বছর পূর্বে <a href="profiles-other-profile.html">সুরাইয়া আয়শা</a> কে একটি যাত্রা প্রস্তাব করেছিল।</div>
                                        <div class="rental-car-ratings">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                            <img src="assets/img/rental-cars-img/icon-star-yellow.svg" alt="Rental Car">
                                        </div>
                                    </li>
                                </ul>
                              <!-- If With Rating End -->
                            </div>
                        </div>
                      <!-- Profile Right Box End -->

                      <!-- Profile Right Box Start -->
                        <div class="card profile-right-box common-box-shadow inside-profile-rental-car-list">
                            <h6 class="card-header">1 গাড়ি</h6>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <a class="home-service-box"  href="rental-car-details.html">
                                            <div class="h-s-img position-relative">
                                                <div class="rental-car-img-tag position-absolute">
                                                    <h5>২৮০</h5>
                                                    <p>টাকা/দিনে</p>
                                                </div>
                                                <img src="assets/img/rental-cars-img/1.jpg" alt="Rental Car">

                                                <div class="rental-car-category-name position-absolute">
                                                    <p>Rental</p>
                                                </div>
                                            </div>
                                            <div class="h-s-left d-flex">
                                                <div>
                                                    <h4 class="popular-rental-car-title">Toyota Noah</h4>
                                                    <p>Perfect for family trip</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <a class="home-service-box"  href="rental-car-details.html">
                                            <div class="h-s-img position-relative">
                                                <div class="rental-car-img-tag position-absolute">
                                                    <h5>২৮০</h5>
                                                    <p>টাকা/দিনে</p>
                                                </div>
                                                <img src="assets/img/rental-cars-img/2.jpg" alt="Rental Car">

                                                <div class="rental-car-category-name position-absolute">
                                                    <p>Rental</p>
                                                </div>
                                            </div>
                                            <div class="h-s-left d-flex">
                                                <div>
                                                    <h4 class="popular-rental-car-title">Toyota Noah</h4>
                                                    <p>Perfect for family trip</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6">
                                        <a class="home-service-box"  href="rental-car-details.html">
                                            <div class="h-s-img position-relative">
                                                <div class="rental-car-img-tag position-absolute">
                                                    <h5>২৮০</h5>
                                                    <p>টাকা/দিনে</p>
                                                </div>
                                                <img src="assets/img/rental-cars-img/3.jpg" alt="Rental Car">

                                                <div class="rental-car-category-name position-absolute">
                                                    <p>Rental</p>
                                                </div>
                                            </div>
                                            <div class="h-s-left d-flex">
                                                <div>
                                                    <h4 class="popular-rental-car-title">Toyota Noah</h4>
                                                    <p>Perfect for family trip</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <!-- Profile Right Box End -->

                      <!-- Profile Right Box Start -->
                        <div class="card profile-right-box common-box-shadow inside-profile-ride-box">
                            <h6 class="card-header">কোনও রাইড নেই</h6>
                            <div class="card-body">
                                <!-- If No Rides Start -->
                                <div class="profile-box-no-rides">
                                    <img src="assets/img/profile-img/no-rides-img.png" alt="Andgarivara">
                                    <p class="card-text">আপনি যদি যাত্রা প্রস্তাব করেন তবে এটি এখানে প্রদর্শিত হবে।
                                        শুরু করতে আপনার প্রথম যাত্রা তৈরি করুন।</p>
                                    <a href="#" class="btn secondary-button">যাত্রা তৈরি করুন</a>
                                </div>
                              <!-- If No Rides End -->

                              <!-- If With Rides Start -->
                                <div class="profile-box-rides">
                                    <a href="#">
                                        <div class="offered-ride-list">
                                            <div class="offered-ride-left">
                                                <p class="offered-ride-location">যাত্রাবাড়ী<i class="fas fa-long-arrow-alt-right"></i>মতিঝিল</p>
                                                <p class="offered-ride-time">July 8 at 08:25 </p>
                                            </div>
                                            <div class="offered-ride-right">১০৫ টাকা</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="offered-ride-list">
                                            <div class="offered-ride-left">
                                                <p class="offered-ride-location">যাত্রাবাড়ী<i class="fas fa-long-arrow-alt-right"></i>মতিঝিল</p>
                                                <p class="offered-ride-time">July 8 at 08:25 </p>
                                            </div>
                                            <div class="offered-ride-right">১০৫ টাকা</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="offered-ride-list">
                                            <div class="offered-ride-left">
                                                <p class="offered-ride-location">যাত্রাবাড়ী<i class="fas fa-long-arrow-alt-right"></i>মতিঝিল</p>
                                                <p class="offered-ride-time">July 8 at 08:25 </p>
                                            </div>
                                            <div class="offered-ride-right">১০৫ টাকা</div>
                                        </div>
                                    </a>
                                </div>
                              <!-- If With Rides End -->
                            </div>
                        </div>
                      <!-- Profile Right Box End -->

                    </div>
                </div>
              <!-- Profile Page Right Side End -->
            </div>
        </div>

    </section>

    <!-- Rides Modal For Report an Issue about Driver -->
    <div class="modal fade" id="report-an-issue-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">একটি সমস্যা রিপোর্ট করুন</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="send-message-content">
                        <p>আপনার প্রতিক্রিয়া কেবল অ্যান্ডগাড়িভাড়ার সাথে ভাগ করা হয়েছে</p>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">কেন আপনি এই রিপোর্ট করছেন?</label>
                            <textarea class="form-control" id="message-text" placeholder="সমস্যাটি ব্যাখ্যা করুন"></textarea>
                        </div>
                        <p class="mb-10">আমরা 24 ঘন্টার মধ্যে ব্যক্তিগতভাবে প্রতিক্রিয়া জানাব।</p>
                        <div class="form-group">
                            <button type="button" class="btn theme-button w-100">রিপোর্ট পাঠান</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Rides Modal For Report an Issue about Driver -->

    <!-- Profiles Own Profile Page Area End -->
  </span>
</template>

<script>

export default {
  name: "profile",
  middleware: 'authenticate',
  head() {
    return {
      title: 'Profiles - Own Profile - অ্যান্ডগাড়িভাড়া',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        // {
        //   hid: 'description',
        //   name: 'description',
        //   content: 'My custom description'
        // }
      ]
    }
  },
  data(){
    return{
      errorMessage: ''
    }
  },
  methods: {
    updateMenuItems(e) {
      let menuItems=[
        {
          name:'রাইড শেয়ারিং',
          url:''
        },
        {
          name:'গাড়ি ভাড়া',
          url:''
        },
        {
          name:'গাড়ি লিজ',
          url:''
        }
      ]
      this.$store.commit('menubar/updateItems', menuItems)
    },
    updateProfileImage(event){
      this.photo = event.target.files[0];
      const data = new FormData();
      data.append('profile_image', this.photo);
      const token = this.$cookies.get('accessToken');
      let config = {
        headers: { 'Authorization': `Bearer ${token}` }
      };
      let self = this;
      this.$axios.post(process.env.USER_API_URL+'/update-profile-image',data, config)
        .then((res) => {
          if (res.data.error === false) {
            self.$store.commit('menubar/updateProfileImage', res.data.data.profileImage);
          }
          else {
            self.errorMessage=res.data.err_msg;
          }
        }).catch((error)=>{
            self.errorMessage='Something went wrong, please try again letter'
      });
    },
    updateCoverImage(event){
      this.photo = event.target.files[0];
      const data = new FormData();
      data.append('cover_image', this.photo);
      const token = this.$cookies.get('accessToken');
      let config = {
        headers: { 'Authorization': `Bearer ${token}` }
      };
      let self = this;
      this.$axios.post(process.env.USER_API_URL+'/update-cover-image',data, config)
        .then((res) => {
          if (res.data.error === false){
            self.$store.commit('menubar/updateCoverImage',res.data.data.CoverImage);
          }
          else {
            self.errorMessage=res.data.err_msg;
          }
        }).catch((error)=>{
        self.errorMessage='Something went wrong, please try again letter'
      });
    },
    removeProfileImage(){
      this.$store.commit('menubar/updateProfileImage',"");

      const token = this.$cookies.get('accessToken');
      let config = {
        headers: { 'Authorization': `Bearer ${token}` }
      };
      this.$axios.get(process.env.USER_API_URL+'/remove-profile-image',config);
    },
    removeCoverImage(){
      this.$store.commit('menubar/updateCoverImage',"");
      const token = this.$cookies.get('accessToken');
      let config = {
        headers: { 'Authorization': `Bearer ${token}` }
      };
      this.$axios.get(process.env.USER_API_URL+'/remove-cover-image',config)
    }
  },
  mounted() {
    this.updateMenuItems();
  },
  computed: {
    userInfo(){
      return this.$store.state.menubar.userInfo;
    }
  }
}
</script>

<style scoped>

</style>
