<template>
  <section class="andgarivara-hero-area">
    <div class="container">
      <div class="row hero-area-wrapper align-items-center">

        <div class="col-lg-6 offset-lg-3 mt-3">
          <div class="hero-area-heading">
            <h1 class="text-center">নিবন্ধন করুন</h1>
            <h4 class="padding-top-10 text-center">আপনার ব্যক্তিগত তথ্য প্রদান করুন</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3 mt-3">
          <form @submit.prevent="makeSignupRequest">
            <div class="form-group">
              <label for="firstName">নামের প্রথম অংশ:</label>
              <input type="text" class="form-control" id="firstName" placeholder="আপনার নামের প্রথম অংশ" v-model="f_name" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="lastName">নামের শেষ অংশ:</label>
              <input type="text" class="form-control" id="lastName" placeholder="আপনার নামের শেষ অংশ" v-model="l_name" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="phoneNo">ফোন নম্বর:</label>
              <input type="number" class="form-control" id="phoneNo" placeholder="আপনার ফোন নম্বর" v-model="phn_no" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="pwd">পাসওয়ার্ড:</label>
              <input type="password" class="form-control" id="pwd" placeholder="আপনার পাসওয়ার্ড" v-model="password" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
              <div class="text-danger" v-if="(errorMessage != ``)">{{ errorMessage}}</div>
            </div>
            <button type="submit" class="btn btn-primary">নিবন্ধন</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "registration",
    head() {
      return {
        title: 'অ্যান্ডগাড়িভাড়া - দেশের ১ নম্বর ডিজিটাল প্ল্যাটফর্ম | Registration',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          // {
          //   hid: 'description',
          //   name: 'description',
          //   content: 'My custom description'
          // }
        ],
        link: [
          { rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' }
        ]
      }
    },
    data(){
      return{
        f_name: '',
        l_name: '',
        phn_no: '',
        password: '',
        errorMessage: ''
      }
    },
    methods: {
      makeSignupRequest: function() {
        let self = this;
        let config = {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          },
        }
        let payload = {
          f_name: self.f_name,
          l_name: self.l_name,
          phn_no: self.phn_no,
          password: self.password
        }

        this.$axios.$post(process.env.USER_API_URL+'/signup', payload, config).then((res) => {
          if (res.error === true){
            this.errorMessage=res.msg
          }
          else {
            this.$router.push('/login');
          }
        }).catch((error)=>{
          this.errorMessage=error
        });
      },
      updateMenuItems(e) {
        let menuItems=[
          {
            name:'রাইড শেয়ারিং',
            url:''
          },
          {
            name:'তাত্ক্ষণিক যাত্রা',
            url:''
          },
          {
            name:'গাড়ি ভাড়া',
            url:''
          },
          {
            name:'গাড়ি লিজ',
            url:''
          },
          {
            name:'মালিক হিসাবে সাইনআপ',
            url:''
          },
          {
            name:'ড্রাইভার হিসাবে সাইনআপ',
            url:''
          },
          {
            name:'গ্রাহক হিসাবে সাইনআপ',
            url:''
          },
          {
            name:'লগইন',
            url:'/login'
          },
        ]
        this.$store.commit('menubar/updateItems', menuItems)
      }
    },
    mounted() {
      this.updateMenuItems();
    },
    computed: {
      isLoggedIn() {
        return this.$store.state.menubar.userLoggedIn;
      }
    },
    watch: {
      isLoggedIn: function (val) {
        if (val==true){
          this.$router.push('/');
        }
      }
    }
  }
</script>

<style scoped>

</style>
